<div class="ui attached segment">
  <ul>
    <% @articles.each do |article| %>
      <li>
        <span><%= article.title %></span> ||
        <span><%= article.content %></span> ||
        <%= link_to 'read more', article_path(article) %> ||
        <%= link_to 'Edit', edit_article_path(article) %> ||
        <%= link_to 'Destroy', article_path(article),
                               method: :delete,
                               data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
</div>
